<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shoppe</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="grid-container">
        <Header class="row">
            <div class="brand" >
                <a>My Shoppe</a>
                 </div>
            <div>
                <a href="cart.html">My cart</a>
                <a href="signin.html">SignIn</a>
             </div>
           </Header>
               <main class="row center">
                  <div class="card">
                      <a><img src="images/p1.jpg" alt="" class="medium"></a>
                      <div class="card-body">
                          <h2>Nike slim Shirt</h2>
                          <div class="rating">
                              <span>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </span>
                          </div>
                          <div class="price">
                           ₹699
                          </div>
                      </div>
                  </div>
                  <div class="card">
                   <a><img src="images/p2.jpg"class="medium" alt=""></a>
                   <div class="card-body">
                       <h2>Nike slim Shirt</h2>
                       <div class="rating">
                           <span>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </span>
                       </div>
                       <div class="price">
                        ₹699
                       </div>
                   </div>
               </div>
               <div class="card">
                   <a><img src="images/p3.jpg" class="medium" alt=""></a>
                   <div class="card-body">
                       <h2>Nike slim Shirt</h2>
                       <div class="rating">
                           <span>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </span>
                       </div>
                       <div class="price">
                        ₹699
                       </div>
                   </div>
               </div>
               <div class="card">
                   <a><img src="images/p4.jpg" class="medium" alt=""></a>
                   <div class="card-body">
                       <h2>Nike slim Shirt</h2>
                       <div class="rating">
                           <span>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </span>
                       </div>
                       <div class="price">
                        ₹699
                       </div>
                   </div>
               </div>
               <div class="card">
                   <a><img src="images/p5.jpg"class="medium" alt=""></a>
                   <div class="card-body">
                       <h2>Nike slim Shirt</h2>
                       <div class="rating">
                           <span>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </span>
                       </div>
                       <div class="price">
                        ₹699
                       </div>
                   </div>
               </div>
               <div class="card">
                   <a><img src="images/p6.jpg"class="medium" alt=""></a>
                   <div class="card-body">
                       <h2>Nike slim Shirt</h2>
                       <div class="rating">
                           <span>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </span>
                       </div>
                       <div class="price">
                        ₹699
                       </div>
                   </div>
               </div>
               </main>
       <footer class="row center">
       All right reserved
       </footer>
           </div>
    
</body>
</html>