
html{
  font-size:62.5%;/* 16px*62.5%=1opx=1rem 1*/
  box-sizing:border-box;
}
body{
  margin:0;
  height:100%;
  font-size:1.6rem;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grid-container{
  display:grid;
  grid-template-areas: 'header'
  'main'
  'footer';
  grid-template-columns:1fr;
  grid-template-rows:5rem 1fr 5rem;
  height:100%;
}
header{
  grid-area:header;
  background-color: #203040;
}
main{
  grid-area: main;
  padding:1rem;
}
footer{
  grid-area: footer;
  background-color: #203040;
 color: #ffffff;
}


.row{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-size:1.8rem;
  padding:1rem 0;
}
h2{
  font-size:1.2rem;
  padding:1rem 0;
}
a{
  text-decoration: none;
  
}
.brand a{
  font-size: 3rem;
  font-weight:bold;
  color:#ffffff;
}
a:hover{
  color:#ff8000;
  
}
header{
  color:#ffffff;
  padding: 1rem;


}
.row.center{
  justify-content: center;
}
img.medium{
  border-radius: 0.5rem;
  max-width: 29rem;
  width:100%
}
.card{
  border:0.1rem #c0c0c0 solid;
  background-color:#f8f8f8;
  border-radius: 0.5rem;
  margin:1rem
}
.price{
  font-size: 2rem;
}
.card-body{
  padding: 1rem;
}
.card-body>*{
  margin-bottom: 1rem;
}
[class*="fa"]{
  color:#f0c040
}